
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth
}

/* ######################### */
/* Navigation */
/* ######################### */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background:  #fff;

}

nav.active {
    box-shadow: 0 5px 5px rgba(0,0,0,.2)
}
nav .logo img {
    width: 60px;
    height: auto;
    border-radius:50px ;
}

nav .navigation {
    display: flex;
}

nav .navigation li {
    position: relative;
}
nav .navigation a {
    font-size: 1rem;
    padding: 10px 20px;
    color: #F97316;
    font-weight: 500;
}

nav .navigation a::after, nav .navigation a::before {
    content: "";
    width: 0%;
    height: 6px;
    background: #F97316;
    position: absolute;
    left: 0;
    transition: width .2s ease-in-out;
}

nav .navigation a::after {
top: -4px;
}
nav .navigation a::before {
bottom: -4px;
}

nav .navigation a:hover::before , nav .navigation a:hover::after,  nav .navigation a.active::before,  nav .navigation a.active::after {
    width: 100%;
}

#burger-menu {
    color: var(--text);
    font-size: 1.6rem;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#burger-menu:hover {
    color: #F97316;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px, auto));
    gap: 1.5rem;
    padding: 50px 20px;
    color: #fff;
    background: #060606;
}

footer .social {
    margin-top: 0.5rem;
    display: flex;
    column-gap: .5rem;
}

footer .social .bx {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F97316;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    border-radius: 50%;
}

footer .social .bx:hover {
    background: orangered;
}

footer h2 {
    margin-bottom: 1rem;
    font-weight: 600;
}

footer a {
    color:  #F97316;
}

footer a:hover {
    color: orangered;
}

footer img {
    width: 50px;
    border-radius: 50px;
}

.copy {
    padding: 2rem 0;
    text-align: center;
    font-size: 13px;
    background:  #fff;
}
.footer-box .payement{
    display:flex;
    gap:2rem;
}


/* ######################### */
/* Breakpoints */
/* ######################### */

@media screen and (max-width: 1050px){
    nav {
        padding: 1rem;
    }
    #burger-menu {
        display: block;
    }
    .navigation {
        position: absolute;
        top: 100%;
        right: -100%;
        flex-direction: column;
        row-gap: 2rem;
        width: 280px;
        min-height: 100vh;
        background: #fff;
        box-shadow: 5px 0 5px 0 rgba(0,0,0,.2);
        padding: 1rem 0;
        transition: .2s ease-in-out;
    }
    .navigation.active {
        right: 0;
    }
}

@media screen and (max-width: 563px){
    
    .copy {
        padding: 1rem;
    }
    
}

 



